<br/><br/>
<mat-card class="example-card mat-elevation-z8" style="margin: 0 auto; height: 40vh;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>BMI Conditions</mat-card-title>
    <mat-card-subtitle>Healthy / Unhealthy</mat-card-subtitle>
  </mat-card-header>
  <hr/><br/>
  <mat-card-content class="center">
    <ul>
      <li><b>Underweight</b> &nbsp; = &nbsp; 18.5</li><br>
      <li><b>Normal weight</b> &nbsp; = &nbsp; 18.5–24.9</li><br>
      <li><b>Overweight</b> &nbsp; = &nbsp; 25–29.9 </li><br>
      <li><b>Obesity</b> &nbsp; = &nbsp; BMI of 30 or greater </li><br>
    </ul>
  </mat-card-content>


</mat-card>
<br/>
